body{
    
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjpm9-kzoHiAhWKyKYKHe7bAzQQjRx6BAgBEAU&url=http%3A%2F%2Fabdesigns.co%2F&psig=AOvVaw3sIz6-mDBU6nLu4ypphhJh&ust=1557050238864608");

}
    
    
div{
    background: black;
    color: blue;
    margin: auto;
    width: 50%;
    border-style:solid;
    padding: 10px;
}
strong{
    color: lime;
}
