body{
    
    background-image: url("");

}
    
    
div{
    background: white;
    color: Red;
    margin: auto;
    width: 70%;
    border-style:solid;
    padding: 10px;
}
strong{
    color: lime;
}
